{% extends 'covid/base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href='{% static 'css/non_auth_forms_style.css' %}'/>
{% endblock %}

{% block content %}
    <section class="align-items-center" style="margin-top: 20px;">
        <div class="wrapper rounded bg-white">
            <div class="h3">Change Password</div>
            {% if validlink %}
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.new_password1|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Change Password</button>
                </form>
            {% else %}
                <div class="text-lg-center" style="padding-top: 10px; margin-top: 10px;">
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a
                        new password reset.</p>
                </div>
            {% endif %}

        </div>
    </section>
{% endblock %}