<!doctype html>
{% load static %}
<html lang="en">
<!-- Not Vivek Khimani -->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZP48QNLJVW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-ZP48QNLJVW');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ page_name }}</title>
    <meta content="A platform for finding COVID-19 related resource leads in India." name="description">
    <meta content="covid,resources,india,oxygen,ventilator,icu,critical,help,hospitals,beds,contact,sources,link,safe"
        name="keywords">
    <meta content="Not Vivek Khimani" name="author">
    <meta content="Welcome - Life Nest" property="og:title">
    <meta content="One-stop solution for finding COVID-related leads in India." property="og:description">
    <meta content="{% static 'img/apple-touch-icon.png' %}" property="og:image">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href='{% static ' img/favicon.png' %}' />
    <link rel="icon" type="image/x-icon" href='{% static ' img/favicon.png' %}' />
    <link rel="apple-touch-icon" type="image/x-icon" href='{% static ' img/favicon.png' %}' />
    <link rel="apple-touch-startup-image" type="image/x-icon" href='{% static ' img/favicon.png' %}' />

    <!-- FIREBASE -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href='{% static ' vendor/aos/aos.css' %}' />
    <link rel="stylesheet" href='{% static ' vendor/bootstrap/css/bootstrap.min.css' %}' />
    <link rel="stylesheet" href='{% static ' vendor/bootstrap-icons/bootstrap-icons.css' %}' />
    <link rel="stylesheet" href='{% static ' vendor/boxicons/css/boxicons.min.css' %}' />
    <link rel="stylesheet" href='{% static ' vendor/glightbox/css/glightbox.min.css' %}' />
    <link rel="stylesheet" href='{% static ' vendor/remixicon/remixicon.css' %}' />
    <link rel="stylesheet" href='{% static ' vendor/swiper/swiper-bundle.min.css' %}' />
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">

    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href='{% static ' css/style.css' %}' />

    <!-- =======================================================
    * Template Name: OnePage - v4.1.0
    * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    {% block header %}
    {% endblock %}
</head>

<body>
    {% if messages %}
    <div class="alert alert-info">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
                </li>
                {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% block nav %}
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- <h1 class="logo"><a href="/">Helping Hand</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            {# <a href="/" class="logo"><img src='{% static ' img/favicon.png' %}' width="50px" height="120px"
                    alt="logo" class="img-fluid"></a>#}
            <a href="/" class="navbar-brand">
                <!-- Logo Image -->
                <img src='{% static ' img/favicon.png' %}' width="60" height="60" alt="logo"
                    class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                {# <span class="text-uppercase font-weight-bold">Life Nest</span>#}
            </a>

            {% if logged_in %}
            <nav id="navbar" class="navbar">
                <ul>
                    <li><span class="nav-link text-lg-left"><b>Hello {{ first_name }}</b></span></li>
                    <li><a class="nav-link scrollto" href="{% url 'landing' %}">Resources</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'add_service' %}">Add Resource</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                    <li><a class="nav-link scrollto text-danger" href="{% url 'spam_view_landing' %}">Report
                            Spam</a></li>
                    <li><a class="getstarted scrollto bg-danger" href="{% url 'logout' %}">Sign Out</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            {% else %}
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="{% url 'index' %}#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'landing' %}">Resources</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'index' %}#stats">Stats</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'index' %}#faq">FAQ</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'index' %}#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="{% url 'login' %}">Sign In</a></li>
                    <li><a class="getstarted scrollto" href="{% url 'auth' %}">Sign Up</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            {% endif %}
        </div>
    </header><!-- End Header -->
    {% endblock %}

    <main id="main">
        {% block content %}
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9 text-center">
                        <h1>Life Nest</h1>
                        <em>
                            <h2>A platform for finding COVID-19 related resource leads in India</h2>
                        </em>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'auth' %}" class="btn-get-started scrollto">Get Started</a>
                </div>

                <div class="row icon-boxes">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="ri-stack-line"></i></div>
                            <h4 class="title"><a href="{% url 'index' %}">Suppliers</a></h4>
                            <p class="description">Have access to resources? Get started, sign up, and start
                                contributing!</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="ri-palette-line"></i></div>
                            <h4 class="title"><a href="{% url 'index' %}">Requesters</a></h4>
                            <p class="description">Looking for the resources? Sign up, and get full access to our
                                database!</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                        data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="ri-command-line"></i></div>
                            <h4 class="title"><a href="{% url 'index' %}">Scam Reports</a></h4>
                            <p class="description">Report a supplier/caller and see if other users feel the same about
                                them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->


        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="stats" class="faq section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Live Statistics</h2>
                </div>
                <div class="row icon-boxes">
                    <div class="col-xl-4 col-lg-6">
                        <div class="card l-bg-cherry">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Resources Available</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            {{ total_services }}
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="card l-bg-blue-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Total Users</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            {{ total_participants }}
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="card l-bg-green-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">People Helped</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            {{ total_helped }}
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p> Have questions? You might find an answer here! Can't find all your answers? Feel free to <a
                            href="{% url 'index' %}#contact">contact us.</a></p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#faq-list-1">Who can sign up
                                on LifeNest? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    Anyone who is in the need of or has access to COVID-related resources can sign up on
                                    LifeNest.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-2" class="collapsed">Why do I need to sign up?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    We require the users to sign up to minimize spam. All our users are required to
                                    verify their phone numbers (using OTP) while signing up. This helps us to ensure
                                    that only verified users can access the contact details of the providers. In case of
                                    unethical activities, we can trace down the spammers using the phone numbers
                                    provided while signing up.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-3" class="collapsed">What if a provider uploads
                                fake resources? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    LifeNest is built with a purpose of making COVID-related resources more accessible.
                                    As a result, we can't currently stop anyone from creating a posting. However, the
                                    users can mark a resource as spam. Our team will actively monitor for the postings
                                    with high spam counts and trace the provider.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-4" class="collapsed">What if I start receiving
                                the spam calls after creating a resource posing? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    We certainly acknowledge that providers can be bugged by spam callers too. As a
                                    result, we have provided a section - "Report Spam", where the providers can mark a
                                    callers as spam. The section also provides a database which the providers can access
                                    to see if the same caller has been marked as spam by other people.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-5" class="collapsed">How is LifeNest different
                                from other platforms? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    LifeNest aims for easy sharing of the COVID-related resources in India. Currently,
                                    there are a lot of resources/services for COVID patients in India, but it's hard to
                                    find one, as they're spread across multiple platforms. Moreover, people are afraid
                                    of being scammed/spammed while approaching the unknown people. LifeNest aims to
                                    solve all these problems, by allowing people to add resources, organizing it into a
                                    database, and only allowing verified users to access the database. Most importantly,
                                    the verified users can report spam resources/callers on the platform which allows
                                    others to estimate the reputation of the provider or a caller.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-6" class="collapsed">Can LifeNest protect me
                                from scammers? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    LifeNest only allows for easy sharing of the COVID-related leads. It doesn't
                                    guarantee the authenticity of the provider or protection of the user in any way.
                                    LifeNest is also not responsible for any financial transactions made outside the
                                    platform. LifeNest allows you to flag the scammers, but we don't provide any claims
                                    to protect against those. We will try our best to promptly react to the scam reports
                                    and keep out platform clean.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-7" class="collapsed">How can I contribute? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    The best way to contribute is to sign up! Even if you don't have access to resources
                                    or don't need one, you can always sign up and browse/share the resources. That's the
                                    best way to help someone who is in need of it. Moreover, you can apply to become a
                                    volunteer and help us keep the data clean. Lastly, if you are a Django developer,
                                    you can reach out to us and help us keep the platform running. We plan to
                                    open-source this project in the near future.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <style>
            .card {
                background-color: #fff;
                border-radius: 10px;
                border: none;
                position: relative;
                margin-bottom: 30px;
                box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
            }

            .l-bg-cherry {
                background: linear-gradient(to right, #493240, #f09) !important;
                color: #fff;
            }

            .l-bg-blue-dark {
                background: linear-gradient(to right, #a86008, #ffba56) !important;
                color: #fff;
            }

            .l-bg-green-dark {
                background: linear-gradient(to right, #09203F, #537895) !important;
                color: #fff;
            }

            .card .card-statistic-3 .card-icon-large .fas,
            .card .card-statistic-3 .card-icon-large .far,
            .card .card-statistic-3 .card-icon-large .fab,
            .card .card-statistic-3 .card-icon-large .fal {
                font-size: 110px;
            }

            .card .card-statistic-3 .card-icon {
                text-align: center;
                line-height: 50px;
                margin-left: 15px;
                color: #000;
                position: absolute;
                right: -5px;
                top: 20px;
                opacity: 0.1;
            }
        </style>
        {% endblock %}
    </main>

    {% block script %}
    {% endblock %}

    <section id="contact"></section>
    {% if not logged_in %}
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3><strong><b>Life Nest</b></strong></h3>
                        <p>
                            {# A108 Adam Street <br>#}
                            {# New York, NY 535022<br>#}
                            {# United States <br><br>#}
                            <strong>Email:</strong> <a href="mailto:admin@lifenest.io"
                                target="_blank">admin@lifenest.io</a><br>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://portal.termshub.io/lifenest.io/"
                                    target="_blank">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://portal.termshub.io/lifenest.io/"
                                    target="_blank">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Connect with us</h4>
                        <div class="social-links">
                            <a href="https://www.instagram.com/lifenest.io/" target="_blank" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                            <a href="mailto:admin@lifenest.io" target="_blank" class="google-plus"><i
                                    class="bx bx-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright 2021. All Rights Reserved by <strong><span><a href="https://www.lifenest.io"
                                target="_blank">Life Nest</a></span></strong>.
                </div>
            </div>
            <div class="credits text-center text-md-right pt-3 pt-md-0">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->
    {% else %}
    <footer class="page-footer font-small border-top" style="margin-top: 20px; color: black;">
        <div class="footer-copyright text-center py-3">
            &copy; Copyright 2021. All Rights Reserved by <strong><span><a href="https://www.lifenest.io"
                        target="_blank" style="color: black;"><u>Life Nest</u></a></span></strong>.
        </div>
    </footer>
    {% endif %}

    {# <footer class="page-footer font-small border-top" style="margin-top: 20px; color: gray;">#}
        {# <div class="footer-copyright text-center py-3">#}
            {# Copyright &copy; 2021. All Rights Reserved by <a
                href="https://vivekkhimani.github.io"><strong><span><b>Vivek Khimani</b>.</span></strong></a>#}
            {# </div>#}
        {# </footer>#}

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>